{% extends 'product/base.html' %}

{% block content %}
<style>
    a, a:hover{
        text-decoration: none;
        color: black;
    }
</style>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="container">
        <div class="carousel-inner">
            {% for post in post %}
                <div class="carousel-item active">
                    <img src="{{post.image.url}}" class="d-block w-100" alt="..." height="300">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="lead">{{post.name}}</h5>
                        <p>{{post.intro}}.</p>
                    </div>
                </div>
          {% endfor %}
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div><br>

  <h5 class="lead">Top Selling Item </h5><br>
  <div class="container">
    <div class="row row-col-2">
        {% for post in posts %}
        
            <div class="col">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                    <div class="col-md-4">
                        <a href="{% url 'detail' post.id %}"><img src="{{ post.image.url }}" class="img-fluid rounded-start" alt="..."></a>
                    </div>
                    <div class="col-md-8">
                        <a href="{% url 'detail' post.id %}"><div class="card-body">
                            <h5 class="card-title">{{ post.name }}</h5>
                            <p class="card-text">{{post.intro|slice:"20"|safe }}...</p>
                            <p class="card-text"><small class="text-muted">$ {{post.price}}</small></p>
                            </div>
                        </a>
                        
                    </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div><br>
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {% if posts.has_previous %}
        <li class="page-item"><a class="page-link" href="?page=1">&laquo First</a></li>
        <li class="page-item"><a class="page-link" href="?page={{post.previous_page_number}}">Previous</a></li>
        {% endif %}

        <!-- <li class="page-item disabled"><a class="page-link" href="#">Page {{posts.number}} of {{posts.paginator.num_pages}}</a></li> -->
        {% for i in nums %}
        <li class="page-item"><a class="page-link" href="?page={{forloop.counter}}">{{forloop.counter}}</a></li>
        {% endfor %}

        {% if posts.has_next %}
        <li class="page-item"><a class="page-link" href="?page={{posts.next_page_number}}">Next</a></li>
        <li class="page-item"><a class="page-link" href="?page={{posts.paginator.num_pages}}">Last &raquo</a></li>
        {% endif %}
    </ul>
</nav>

{% endblock%}